@model List<StockModel>;

<img src="/icons/Stock.svg" width="100" height="50" />
<a href="/Stock/NewStock" class="btn btn-outline-dark my-3">New Stock</a>

<table class="table table-striped">
    <thead>
        <tr>
            @* <th scope="col">Id</th> *@
            <th>Name</th>
            <th>Description</th>
            <th align="right">Price</th>
            <th align="right">Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <th scope="row">@item.Id</th> *@
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td align="right">@item.Price</td>
                <td align="right">@item.Quantity</td>
                <td>
                    <a class="btn btn-outline-warning" href="/Stock/EditStock?id=@item.Id">Edit</a>
                    @* <a class="btn btn-outline-danger" href="/Stock/DeleteStock?id=@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>